/*
 * Auth pages
 */

section.auth-main {

	.make-row();

	div.auth-form-container {

		.make-sm-column(6);
		.make-sm-column-offset(3);

		.make-xs-column(10);
		.make-xs-column-offset(1);

	}

	div.auth-signup-blurb {

		.well();

	}

}
