/*
 * Homepage
 */

section.buying-home-main {

	div.buying-home-wrapper {

		padding-top: 20px;

		.make-row();

	}

}

///////////////////////
// Frontpage boxouts //
///////////////////////

div.specialism-outer {

	// Setup columns for mobile
	@media(max-width: @screen-xs-max) {
		.make-xs-column(6);

		div.specialism-inner {
			.make-xs-column(12);
			margin-bottom: 20px;
		}

	}


	// All other screen sizes
	@media(min-width: @screen-sm-min) {
		.make-xs-column(6);

		div.specialism-inner {
			.make-xs-column(8);
			padding: 0;
		}

	}


	// Different offsets for lhs and rhs on larger screen sizes
	@media(min-width: @screen-sm-min) {

		div.specialism-inner-lhs {
			.make-xs-column-offset(4);
		}
		div.specialism-inner-rhs {
			.make-xs-column-offset(0);
		}

	}


	// Boxouts themselves
	div.specialism-inner {

		img {
			.img-responsive();
			.center-block();
		}

		h2 {
			text-align: center;
			text-transform: none;
			font-weight: lighter;
			color: @grid-title-grey;
			font-size: 4rem;
			margin-top: 5px;
		}

		// Smaller text on mobiles
		@media(max-width: @screen-xs-max) {

			h2 {
				font-size: 2rem;
			}
			
		}



	}


	// Hover styling
	div.specialism-inner:hover {
		a, h2 {
			text-decoration: none;
			color: black;
		}
	}
	


}