/*
 * Categories
 */

div.category-wrapper {

	.make-row();

}

section.category-nav {

	.make-row();
	.clearfix();

	margin: 0;
	
	div.category-nav-container {
		.make-xs-column(12);
	}

	#toggle-filters-button {
		.pull-left();
		margin-right: 10px;
		outline: none;
	}

}

section.category-search {

	.make-sm-column(3);

	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	background-color: #f8f8f8;

	margin-top: 10px;
	padding: 20px;
	height: 100%;

	.category-search-label {
		.text-center();
		margin: -10px 0 20px;
	}

	.slider-horizontal {
		.center-block();
		width: 90%;
	}

	#filters-progress-bar {
		display: none;
		img {
			.center-block();
			.img-responsive();
		}
	}

	.no-filters-available {
		.well();
		p {
			font-weight: bold;
			text-align: center;
		}
	}

}


////////////////////////////////////////////////////
// Classes to size the listings grid as necessary //
////////////////////////////////////////////////////

section.category-main-filters-enabled {

	.make-sm-column(9);

}

section.category-main-filters-hidden {
	
	.make-sm-column(12);

}

div.listing-item-filters-enabled {
	.make-xs-column(6);
	.make-sm-column(4);
}

div.listing-item-filters-hidden {
	.make-xs-column(6);
	.make-sm-column(3);
}


//////////////
// General //
//////////////

p.category-no-results {

	.well();		
	color: black;
	font-style: italic;
	text-align: center;

}


//////////////
// Adverts //
//////////////

div.listing-list {

	.make-row();
	.clearfix();

	// Outer wrapper for each advert
	div.listing-item {

		// Format as a thumbnail
		div.listing-item-container {

			text-align: left;
			margin-bottom: 20px;
			.clearfix();

			img {
				background-color: white;
				.img-responsive();
			}

			// Format text content
			div.listing-item-name-and-location {
				float: left;
				padding: 10px 10px 0;
				width: 60%;
				text-transform: none;
				color: @grid-title-grey;
			}
			div.listing-item-price {
				float: right;
				padding: 10px 10px 0;
				width: 40%;
				text-align: right;
				text-transform: none;
				color: @grid-title-grey;
			}

		}

		// Visual feedback on text when hovering on the container
		div.listing-item-container:hover {

			div.listing-item-name-and-location, div.listing-item-price {

				color: black;

			}

		}

	}

}


/////////////////////////
// Category thumbnails //
/////////////////////////

div.category-list {

	.make-row();
	.clearfix();

	// Outer wrapper for each category
	div.category-item {

		.make-xs-column(6);
		.make-sm-column(4);
		
		// Format as a thumbnail
		div.category-item-container {

			text-align: left;
			margin-bottom: 20px;
			.clearfix();

			img {

				background-color: white;
				.img-responsive();

			}

			// Format text content
			div.category-name {
				font-size: larger;
				padding: 10px 10px 0;
				text-transform: none;
				color: @grid-title-grey;
			}

		}

		// Visual feedback on text when hovering on the container
		div.category-item-container:hover {

			div.category-name {

				color: black;

			}
		}

	}

}
