/*
 * CMS Page
 */

div.page-wrapper {

	.make-row();

}

section.cms_page-images {

	.make-sm-column(3);
	
	#bx-pager {

		text-align: center;
		margin-top: -40px;
		margin-bottom: 20px;
		.clearfix();

		img {

			margin: 10px;
			border: 1px dashed white;
		}

		a {
			outline: none;
		}

	}

}

section.page-body {

	.make-sm-column(9);

}