/*
 * General shared styles
 */

ul.breadcrumb {
	text-size: smaller;
	background: none;
	padding: 0;

	a {
		font-weight: bolder;
	}
}

div.popover-content {
	
	p {
		color: black;
		text-align: justify;
	}
}

th.table-widget-fixed-column {
	width: 10%;
}
