/*
 * Homepage
 */

section.home-main {

	div.home-wrapper {

		padding-top: 20px;

		.make-row();

		//////////
		// Logo //
		//////////


		div.logo {

			.make-xs-column(12);

			img {

				.center-block();
				.img-responsive();

			}

		}


		////////////////
		// Page blurb //
		////////////////

		div.blurb {

			.make-xs-column(8);
			.make-xs-column-offset(2);

			padding: 15px;
			margin-top: 15px;

			p {

				text-align: center;
				font-weight: bold;
				font-size: 24px;
				padding: 20px;

				display: block;
				color: white;
				text-shadow: 0px 0px 5px rgba(0,0,0,0.5);

			}

		}

	}
}
