/*
	Bootstrap styling overrides
 */

/* Tables */
table {
	font-size: 16px;

	.data-table > tbody > tr > td {
		vertical-align: middle;
	}
}

/* Textareas */
textarea {
	height: 300px;
}

/* Listings Tabs */
div.tab-content {
	margin-top: 20px;
}

/* Large tick/crosses */
.glyphicon-large {
	font-size: 130px;
	text-align: center;
	display: block;
}

/* Galleries */
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone {
	.well()
}
.dz-message {
	font-weight: bold;
	font-size: large;
}
.gallery-finish-boxout {
	text-align: center;
}
.sortable-item {
	cursor: move;
}

/* Dashboard */
.dashboard-heading {
	margin-top: 0;
}

/* Drilldown menus */
.drilldown-1 {
	width: 20%;
}
.drilldown-2 {
	width: 30%;
}
.drilldown-3 {
	width: 50%;
}
